<!DOCTYPE html>
<html>
  <head>
    <title>PaymentsTracker</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>

  <body>
    <header class='header'>
      <nav class='navigation'>
        <%= link_to 'Payments Tracker', root_url, class: 'navigation__logo' %>
        <%= link_to 'Payment Accounts', payment_accounts_url, class: 'navigation__link' %>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
